<!DOCTYPE HTML>
<html>
	
<head>
	<title>Admin</title>
</head>

<body>
	<p>Ваш заказ успешно оформлен</p>
	<div id="basketItems">
	<h2>Товары, которые вы заказали</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
			</div>
			<div id="itemPrice">
				${{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Сумма заказа</span> : ${{totalPrice}}
			<span if="deliverydate"></span>
		</div>
		<div><a href="/">Вернуться на главную страницу</div>
	</div>
</div>
</body>
</html>
