<!DOCTYPE HTML>
<html>
<head>
<title>Shop</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Поиск">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Войти</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Добро пожаловать, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Ваши заказы</a>
			<a href="/account/profile">Ваш профиль</a>
			<hr>
			<a href="/logout">Выйти</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/basket">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			Корзина {{noOfItems}}
		</a>
	</div>
</div>
<div class="display">
	<div class="displayCategory">

		<h2>Категории: </h2>
		<ul>
			{% for row in categoryData %}
			<li><a href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h2>Товары</h2>
		{% for data in itemData%}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					<a href="/productDescription?productId={{row[0]}}">
						{{row[1]}}
					</a>

				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					${{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>
</body>
</html>

