{% extends 'base.html' %}
{% block title %}
<title>Заказ № {{request.args.get('orderId')}}</title>
{% endblock %}
{% block body %}
<div id="basketItems">
	<h2>Заказ № {{request.args.get('orderId')}}</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span>
			</div>
			<div id="itemPrice">
				${{row[2]}}
			</div>
			<div id="itemPrice">
				Количество: {{row[3]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Итого:</span> : ${{totalPrice}}
		</div>
	</div>
</div>
{% endblock %}