{% extends 'base.html' %}
{% block title %}
<title>Описание товара</title>
{% endblock %}
{% block body %}
<div id="display">
	<div id="productName">
		<h1>{{data[1]}}</h1>
	</div>

	<div id="productDescription">
		<table id="descriptionTable">
			<tr>
				<td>Название</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>Цена</td>
				<td>${{data[2]}}</td>
			</tr>
		</table>
		<h2>Описание</h2>
		<p>{{data[3]}}</p>
	</div>
	<div id="addToBasket">
		<a href="/addToBasket?productId={{request.args.get('productId')}}">Добавить в корзину</a>
	</div>
	{% if loggedIn %}
<form action="/productDescription/addComment?productId={{request.args.get('productId')}}" method='POST' class='form' align='left'>
<p><textarea rows='4' cols='50' placeholder='Ваш отзыв...' name='comment'></textarea></p>
<p><input type='submit' value='Отправить'></p>
</form>
{% endif %}

<h4 class="commenter">{{ comments[0] }}</h4><h4 class="commenter">{{ comments[1] }}</h4>

</div>

{% endblock %}
