{% extends 'base.html' %}
{% block title %}
<title>Профиль</title>
{% endblock %}
{% block body %}

<div class="display">
	<p>Email: {{ profileData[1] }}</p>
	<p>Имя: {{profileData[2]}}</p>
	<p>Фамилия: {{profileData[3]}}</p>
	<p>Страна: {{profileData[4]}}</p>
	<p>Город: {{profileData[5]}}</p>
	<p>Адрес: {{profileData[6]}}</p>
	<p>Индекс: {{profileData[7]}}</p>
	<p>Номер телефона: {{profileData[8]}}</p>
	<a href="/account/profile/edit">Редактировать профиль</a><br>
	<a href="/account/profile/changePassword">Изменить пароль</a>
</div>

{% endblock %}

