{% extends 'base.html' %}
{% block title %}
<title>Поиск</title>
{% endblock %}
{% block body %}

<div>
		<h2>Результаты поиска</h2>
		{% for data in searchData%}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					<a href="/productDescription?productId={{row[0]}}">
						{{row[1]}}
					</a>

				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					${{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>

{% endblock %}